.component-title {
     text-align: left;
     font-size: 18px;
     font-weight: 600;
     color: #848484;
     margin-top: 0;
}

.test-comp-wrapper {
     margin: 0 auto;
     width: 50%;
     text-align: center;
     background-color: #eee;
     border-radius: 3px;
     padding: 20px;
     margin-top: 30px;
     font-size: 13px;
}

.object-element {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     background-color: #a3deb8;
     width: 40%;
     margin: 20px auto;
     padding: 5px;
     font-size: 14px;
     border-radius: 3px;
}

.objarr-element {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: #e6e6e6;
     width: 30%;
     margin: 20px auto;
     padding: 5px;
     font-size: 14px;
     border-radius: 3px;
}

.objarr-single {
     padding-top: 3px;
     padding-bottom: 3px;
}

.comp-subtitle {
     background-color: rgb(78, 78, 175);
     color: white;
     font-size: 14px;
     width: 70%;
     padding: 4px;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     margin: 20px auto;
}

/* Add sauce button. */

.add-sauce-btn {
     background-color: #f1dd66;
     font-weight: 400;
}

.sauces-list {
     list-style: none;
     font-size: 14px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 0;
     padding-right: 0;
     margin: 0;
}

.change-cheese-btn {
     background-color: #dadada;
     margin-right: 20px;
}