<div class="test-comp-wrapper">
     <p class="component-title">Test component</p>

     <p>{{testSentence}}</p>

     <form class="example-form">
          <mat-form-field class="example-full-width">
               <input
                    matInput
                    placeholder="Type in to change sentence."
                    value=''
                    (input)="changeSentence($event.target.value)">
          </mat-form-field>
     </form>

     <button class="change-sentence-btn" mat-button (click)="changeSentence ('Text changed by clicking button!');">Change sentence to static text!</button>
     <button mat-raised-button [disabled]="!testSentence" (click)="clearText();"c>Clear text!</button>
     <div *ngIf="showClearMsg === true" class="clear-msg">Sentence is cleared!</div>
</div>
